{% extends 'base.html' %}
{% load static  %}
{% block tile %}change password{% endblock tile %}
{% block main-content %}

<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto bg-light my-5 p-2">
      <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <h1>Change Your Password</h1> <hr>
        <div class="form-group">
          <label >Current password</label>
          <input type="password" class="form-control" name="current_password" required>
        </div>
        <div class="form-group">
          <label> New Password</label>
          <input type="password" class="form-control" name="new_password" id="pass" onkeyup="check_pass()" required>
        </div>
        <div class="form-group">
          <label> Confirm New Password</label>
          <input type="password" class="form-control" name="confirm_password" id="cpass" onkeyup="check_pass()" required>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-warning" value="Change password" id="sbbtn">
        </div>

      </form>
      <div>
        {% for messege in messages %}
          <p class="text-danger fw-bold">{{messege}}</p>   
        {% endfor %}
    </div>
    </div>
  </div>
</div>
<script>
  function check_pass(){
    let p = $("#pass").val();
    let cp = $("#cpass").val();

    if (p==cp){
      $("#pass").css("border","1px solid green");
      $("#cpass").css("border","1px solid green");
      $("#sbbtn").removeAttr("disabled")

    }else{
      $("#pass").css("border","1px solid red");
      $("#cpass").css("border","1px solid red");
      $("#sbbtn").attr("disabled","disabled")
    }

  }
</script>

{% endblock main-content%}